<h1>{{ nombre }}</h1>

<dl>
  <td>Nombre:</td>
  <dd>{{ nombre }}</dd>

  <td>Edad:</td>
  <dd>{{ edad }}</dd>

  <td>Método:</td>
  <dd>{{ obtenerDescripcion() }}</dd>

  <td>Capitalizado:</td>
  <dd> {{ nombreCapitalizado }}</dd>
</dl>

<button
  *ngIf="this.nombre !== 'Spiderman'"
  class="btn btn-primary mx-2" (click)="cambiarNombre()">
  Cambiar nombre
</button>

<button
  *ngIf="this.edad !== 25"
  class="btn btn-primary" (click)="cambiarEdad()">
  Cambiar edad
</button>

<button
  class="btn btn-primary mx-2" (click)="restablecer()">
  Restablecer
</button>
